<html>
    <head>
        <title>Warble Demo</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" type="text/javascript"></script>

        <script type="text/javascript">
            var tcnv;
            var canvasWidth=800, canvasHeight=400;
            var ctx;
            var lastX, lastY, mouse_press=false, strokeStyle='red';
            var savedCanvas;

            var currentLocationLastX, currentLocationLastY;
            var currentLocationTimer;

            var trajectory={};
            var tempLight=[];

            function bodyInit() {
                tcnv = document.getElementById('TrajectoryCanvas');
                tcnv.setAttribute('width', canvasWidth);
                tcnv.setAttribute('height', canvasHeight);
                trajectory['width'] = canvasWidth;
                trajectory['height'] = canvasHeight;
                trajectory['trajectory'] = [];
                trajectory['lights'] = [];
                ctx = tcnv.getContext('2d');

                tcnv.addEventListener('mousedown', function (e) {
                    lastX = e.pageX - $(this).offset().left;
                    lastY = e.pageY - $(this).offset().top;
                    mouse_press = true;

                    if (strokeStyle === 'green') {
                        tempLight[0] = Math.floor(lastX);
                        tempLight[1] = tcnv.height - Math.floor(lastY);
                        tempLight[2] = 1;
                    }
                });

                tcnv.addEventListener('mousemove', function (e) {
                    var toX = e.pageX - $(this).offset().left;
                    var toY = e.pageY - $(this).offset().top;
                    if (mouse_press) {
                        draw(lastX, toX, lastY, toY);
                        if (strokeStyle === 'red') {
                            trajectory['trajectory'].push(Math.floor(toX) + ',' + (tcnv.height - Math.floor(toY)));
                        } else if (strokeStyle === 'green') {
                            tempLight[0] += Math.floor(lastX);
                            tempLight[1] += tcnv.height - Math.floor(lastY);
                            tempLight[2] += 1;
                        }
                    }
                    lastX = toX;
                    lastY = toY;
                });

                tcnv.addEventListener('mouseup', function (e) {
                    lastX = null;
                    lastY = null;
                    mouse_press = false;

                    if (strokeStyle === 'green') {
                        trajectory['lights'].push(Math.floor(tempLight[0] / tempLight[2]) + ',' + Math.floor(tempLight[1] / tempLight[2]));
                    }
                });

                tcnv.addEventListener('mouseout', function (e) {
                    lastX = null;
                    lastY = null;
                    mouse_press = false;
                });

                tcnv.addEventListener('touchstart', function (e) {
                    if (e.touches) {
                        var touch = e.touches[0];
                        lastX = touch.pageX - $(this).offset().left;
                        lastY = touch.pageY - $(this).offset().top;
                        window.blockMenuHeaderScroll = true;
                        e.preventDefault();

                        if (strokeStyle === 'green') {
                            tempLight[0] = Math.floor(lastX);
                            tempLight[1] = tcnv.height - Math.floor(lastY);
                            tempLight[2] = 1;
                        }
                    }
                });

                tcnv.addEventListener('touchmove', function (e) {
                    if (e.touches) {
                        var touch = e.touches[0];
                        var toX = touch.pageX - $(this).offset().left;
                        var toY = touch.pageY - $(this).offset().top;
                        draw(lastX, toX, lastY, toY);
                        if (strokeStyle === 'red') {
                            trajectory['trajectory'].push(Math.floor(toX) + ',' + (tcnv.height - Math.floor(toY)));
                        } else if (strokeStyle === 'green') {
                            tempLight[0] += Math.floor(lastX);
                            tempLight[1] += tcnv.height - Math.floor(lastY);
                            tempLight[2] += 1;
                        }
                        lastX = toX;
                        lastY = toY;
                    }
                });

                tcnv.addEventListener('touchend', function (e) {
                    lastX = null;
                    lastY = null;
                    window.blockMenuHeaderScroll = false;
                    $(this).trigger('submit');

                    if (strokeStyle === 'green') {
                        trajectory['lights'].push(Math.floor(tempLight[0] / tempLight[2]) + ',' + Math.floor(tempLight[1] / tempLight[2]));
                    }
                });
            }

            function draw(fromX, toX, fromY, toY, color) {
                ctx.beginPath();
                if (color != null) {
                    ctx.strokeStyle = color;
                } else {
                    ctx.strokeStyle = strokeStyle;
                }
                ctx.lineWidth = '1';
                ctx.lineJoin = 'round';
                ctx.moveTo(fromX, fromY);
                ctx.lineTo(toX, toY);
                ctx.closePath();
                ctx.stroke();
            }

            function selectColor(obj) {
                switch (obj.id) {
                    case 'red':
                        strokeStyle = 'red';
                        break;
                    case 'green':
                        strokeStyle = 'green';
                        break;
                }
            }

            function clearCanvas() {
                ctx.clearRect(0, 0, tcnv.width, tcnv.height);
                trajectory['trajectory'] = [];
                trajectory['lights'] = [];
            }

            function saveCanvas() {
                savedCanvas = tcnv.toDataURL('image/png');

                var downloadButton = document.getElementById('download-trajectory-image');
                downloadButton.setAttribute('href', savedCanvas)
            }

            function downloadTrajectory() {
                var trajectoryJson = 'data:text/json;charset=utf-8,' + encodeURIComponent(JSON.stringify(trajectory));

                var downloadButton = document.getElementById('download-trajectory');
                downloadButton.setAttribute('href', trajectoryJson);
            }

            function saveTrajectory() {
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/saveTrajectory');
                xhr.setRequestHeader('Content-type', 'application/json');
                xhr.send(JSON.stringify(trajectory));
            }

            function updateCurrentLocation() {
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/loadCurrentLocation');
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        var currentLocationString = xhr.responseText;
                        var currentLocation = currentLocationString.replace("(", "").replace(")", "").replace(" ", "").split(',');

                        var currentLocationX = parseInt(currentLocation[0]);
                        var currentLocationY = tcnv.height - parseInt(currentLocation[1]);

                        if (currentLocationLastX != null && currentLocationLastY != null) {
                            draw(currentLocationLastX, currentLocationX, currentLocationLastY, currentLocationY, "grey");
                            console.log(currentLocationLastX + ',' + currentLocationX + ',' + currentLocationLastY + ',' + currentLocationY);
                        }
                        currentLocationLastX = currentLocationX;
                        currentLocationLastY = currentLocationY;
                    }
                };
                xhr.send();
            }

            function enableUpdateCurrentInterval() {
                currentLocationTimer = setInterval(updateCurrentLocation, 2000);
            }

            function disableUpdateCurrentInterval() {
                clearInterval(currentLocationTimer);
                currentLocationLastX = null;
                currentLocationLastY = null;
            }

        </script>
    </head>

    <body onload="bodyInit()">
        <h1 class="text-center">Warble Demo</h1>

        <div class="container-fluid text-center">
            <p>Draw your trajectory here</p>

            <div class="row">
                <div class="col-sm-10">
                    <canvas id="TrajectoryCanvas" style="border: 2px solid;"></canvas>
                    <div>
                        <a id="download-trajectory-image" download="trajectory.png"><button onclick="saveCanvas()" style="margin: 10px 5px 10px 5px">Save Image</button></a>
                        <a id="download-trajectory" download="trajectory.json"><button onclick="downloadTrajectory()" style="margin: 10px 5px 10px 5px">Download JSON</button></a>
                        <button onclick="saveTrajectory()" style="margin: 10px 5px 10px 5px">Save Trajectory</button>
                        <button onclick="clearCanvas()" style="margin: 10px 5px 10px 5px">Clear</button>
                    </div>
                    <div>
                        <button onclick="enableUpdateCurrentInterval()" style="margin: 10px 5px 10px 5px">Enable Tracking</button>
                        <button onclick="disableUpdateCurrentInterval()" style="margin: 10px 5px 10px 5px">Disable Tracking</button>
                    </div>
                </div>
                <div class="col-sm-2 text-left">
                    <div>
                        <div id="green" onclick="selectColor(this)" style="width: 40px; height: 40px; background-color: green; display: inline-block"></div>
                        <div style="display: inline-block;"><span style="vertical-align: middle;">light</span></div>
                    </div>
                    <div>
                        <div id="red" onclick="selectColor(this)" style="width: 40px; height: 40px; background-color: red; display: inline-block"></div>
                        <div style="display: inline-block;"><span style="vertical-align: middle;">path</span></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
